In [5]:
import pandas as pd
import pyarrow.dataset as pqds
from pyarrow import fs
import pyarrow as pa
import numpy as np
import math
import os
from datetime import datetime

In [2]:
data_path = "/tmp/output/training"
# Read parquet file from data_path as pyarrown dateset
dataset: pqds.dataset = pqds.dataset(
            data_path,
            format="parquet"
        )

In [3]:
dataset.schema

open: double
high: double
low: double
close: double
volume: double
scenario: int64
__index_level_0__: timestamp[us]
-- schema metadata --
pandas: '{"index_columns": ["__index_level_0__"], "column_indexes": [{"na' + 1003

In [20]:
index_name = "__index_level_0__"

In [27]:
begin_time_us = pa.scalar(datetime(2022,11,12))
end_time_us = pa.scalar(datetime(2022,11,13))

In [28]:
criteria = (pqds.field(index_name) >= begin_time_us) & (
            pqds.field(index_name) <= end_time_us
        )

In [29]:
table: pa.table = dataset.to_table(filter=criteria)

In [30]:
table.to_pandas()

                        open     high      low    close       volume  scenario
2022-11-12 00:00:00  1285.58  1288.76  1279.88  1280.67   110.943522        32
2022-11-12 00:15:00  1280.45  1280.45  1272.22  1273.52   494.951684        32
2022-11-12 00:30:00  1273.68  1274.91  1267.75  1268.78   189.501889        32
2022-11-12 00:45:00  1268.90  1272.39  1266.80  1271.99    92.095408        32
2022-11-12 01:00:00  1272.05  1272.67  1267.88  1268.60  1730.034320        32
...                      ...      ...      ...      ...          ...       ...
2022-11-12 15:00:00  1274.32  1279.52  1270.87  1278.34   576.424186       184
2022-11-12 15:15:00  1278.11  1278.12  1272.34  1272.34    35.511732       184
2022-11-12 15:30:00  1272.28  1273.08  1269.00  1271.45    49.907125       184
2022-11-12 15:45:00  1271.14  1273.45  1270.48  1271.86    31.718619       184
2022-11-12 16:00:00  1272.12  1273.10  1272.12  1272.80     1.328605       184

[292 rows x 6 columns]